## 파이썬의 기본 문법
 ### 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

### summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : cmd(ctrl) + /
        - 셀 생성 : a(위에), b(아래)
- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자 숫자사용 불가
        - 예약어 사용이 불가 : def, class, try ...
        - snake_case(변수,함수), CamelCase(클래스)
        - pep8 문서
    - 데이터 타입
        - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
        - 기본 데이터 타입 : int, float, bool, str
        - 컬렉션 데이터 타입 : list(iterable), tuple(iterable), dict
        - offset index : 특정 위치의 데이터를 출력할때 사용
            - iterable한 데이터 타입에서만 사용이 가능
            - [] : mask, masking
            - [idx] : idx 위치 데이터를 출력
            - [start:end] : start에서 end까지 출력(end는 포함되지 않습니다.)
            - [start:end:stride] : stride만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있습니다.
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip
            - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
            - 두개의 리스트를 묶어서 dict 형변환
    - 연산자
        - 산술 : `+, -, *, /, //, %, **`
        - 할당 : A (산술)= (data)
        - 비교 : <, >, ==, !=, >=, <=
        - 논리 : and, or, not
        - 멤버 : in, not in

### 1. 주석(comment)과 출력(print)

In [5]:
# 주석 : 앞에 #을 붙이면 코드가 실행이 안됨
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 : cmd + /
# 블럭설정 : shift + 방향키

print(1)
# print(2)
print(3)

1
3

In [6]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용

In [7]:
a = 1
print(a)
a += 1
print(a)

1
2

In [8]:
# print 함수의 옵션
# docstring : 함수에 대한 설명 , 단축키 shift + tab
print(1, 2, sep = "-", end="\t")
print(3)

# 자동완성 : tab
# ex : pr + tab

1-2	3

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [9]:
a = 1
b = 2
c = a + b
print(c)

3

In [11]:
d, e = 3, 4
print(d, e)

f = g = 5
print(f, g)

3 4
5 5

### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 한다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_) 를 사용합니다.
    - 가장 앞에 숫자 사용 불가
    - 예약어의 사용 불가 : def, class, try, except, ...
    - 컨벤션
        - snake case : fast_campus -> 변수, 함수 선언할 때
        - camel case : FastCampus, fastCampus -> 클래스를 선언할 때

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑 : 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int(정수), float(실수), bool(참거짓), str(문자)
- 컬렉션 데이터 타입 : list, tuple, dict

In [12]:
a = 1
b = "python"

type(a), type(b)

(int, str)

In [14]:
# 기본 데이터 타입 : int, float, bool, str
a = 1
b = 1.3
c = True # or false
d = "data"

type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [15]:
# upper : 대문자로 변환
e = d.upper()

In [16]:
d, e

('data', 'DATA')

In [30]:
f = " Fast campus "

In [31]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [32]:
# strip : 앞뒤 공백 제거
f.strip()

'Fast campus'

In [33]:
# replace : 특정 문자열 치환
f.replace("Fast", "Slow")

' Slow campus '

In [34]:
# str 내 함수 확인하기
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합
g = "afcdefg"
g[2], g[-2], g[2:5], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'fg', 'aceg', 'gfedcfa')

In [36]:
numbers = "123456789" # 97531로 출력하기

print(numbers[-1::-2])

97531

In [37]:
# 컬렉션 데이터 타입 : list, tuple, dic
# list [] : 순서가 있는(iterable) 수정이 가능한 데이터 타입
# tuple () : 순서가 있는(iterable) 수정이 불가능한 데이터 타입 
# dict {} : 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

In [38]:
# list
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), print(ls)

[1, 2, 3, 'four', [5, 6], True, 1.2]

(list, None)

In [39]:
# offset index 사용이 가능(순서가 있기 때문)
ls[::-1]

[1.2, True, [5, 6], 'four', 3, 2, 1]

In [40]:
# list 함수

In [41]:
ls = [1, 5, 2, 4]

In [42]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [43]:
# sort : 오름차순으로 정렬
ls.sort()
print(ls)

# 내림차순은 그 역순을 해줌
ls.reverse()
print(ls)

# upper는 변수값이 안바뀌었는데, sort랑 reverse는 변수값도 바뀌었네??!?!
# upper는 리턴 기능이 없기 때문

k = "abcd"
k.upper()
print(k)
print(k.upper())

# 게다가 reverse 함수는 프린트에서 작동도 안함
print(ls.reverse())

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
abcd
ABCD
None

In [44]:
# pop : 가장 마지막 데이터를 출력하고, 출력한 데이터를 삭제
# ctrl* + enter : 현재 셀을 계속 실행

In [45]:
print(ls)
ls.pop()
print(ls)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [46]:
# 리스트의 복사
ls1 = [1, 2, 3]
ls2 = ls1 # 얕은 복사 : 주소값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [49]:
ls1[2] = 5
ls1, ls2

# 결과값에 둘 다 1,2,5가 들어있게 된다?!
# 리스트는 같은 램 주소값을 복사해 사용하기 때문에 같은 주소를 참조해 같이 값이 바뀐다

([1, 2, 5], [1, 2, 5])

In [50]:
# 리스트끼리 서로 다른 주소값을 참조하게 하여 리스트 변수끼리 다른 값을 같게 하기

In [51]:
ls3 = ls1.copy() # 서로 다른 주소값을 사용하여 변수 값만 복사
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [52]:
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

In [93]:
# Tuple () : 리스트와 같지만 수정이 불가능한 데이터 타입
# 수정이 불가능한데 왜 리스트를 쓸까?
# 리스트와 같은 데이터를 가졌을 때 공간을 적게 사용하는 장점

In [53]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [54]:
a, b = 1, 2
a, b

(1, 2)

In [97]:
# Tuple도 offset index 사용 가능
tp1[1], tp2[2]

(2, 6)

In [55]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

80 64

In [56]:
# dict {}
# 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입

In [57]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용

dic = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2, 3],
}

type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [60]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [61]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [9]:
# 아래의 데이터를 list와 dict로 선언
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [62]:
# 리스트
city = ["seoul", "busan", "daegu"]
popu = [9700000, 3400000, 2400000]

# 딕셔너리
dic_city = {
    "seoul" : 9700000,
    "busan" : 3400000,
    "daegu" : 2400000
}

dic_city["seoul"]

9700000

In [63]:
sum(popu)

15500000

In [64]:
sum(dic_city.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법

In [65]:
a = 1
b = "2"
a + int(b)

3

In [66]:
str(a) + b

'12'

In [67]:
list(dic_city.values())

[9700000, 3400000, 2400000]

In [68]:
city, popu

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [69]:
#zip : 같은 인덱스 데이터끼리 묶어주는 함수(튜플로 묶어줌)
data1 = list(zip(city, popu))
data2 = dict(list(zip(city, popu)))

print(data1)
print(data2)

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]
{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

### 6. 연산자
- 산술연산자 : +, -, *, /, //, %, **
- 할당연산자 : 변수에 누적시켜서 연산 : +=, //=, **=, ...
- 비교연산자 : >, <, ==, !=, <=, >= : 결과로 True 혹은 False를 출력
- 논리연산자 : True, False를 연산, and, or, not 사용
- 멤버연산자 : 특정 데이터가 있는지 확인할 때 사용 : not in, in
 * 연산자 간에도 우선순위가 존재함

In [70]:
a = 1
b = 2
a > b, a < b, a == b, a != b

(False, True, False, True)

In [71]:
# 논리 연산
True and False, True or False, not (True or False)

(False, True, False)

In [72]:
# 멤버 연산
ls = ["jin", "andy", "john"]

"andy" in ls, "lachel" in ls, "jj" not in ls

(True, False, True)

In [73]:
False and "andy" in ls

False

In [74]:
False or "andy" in ls

True

In [75]:
True or False and "andy" in ls
# 멤버가 논리보다 더 높다!

True

In [76]:
# Random 함수

In [77]:
import random

random.randint(1, 10)

6

In [78]:
# 입력함수
data = input("insert string : ")

insert string :

In [14]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [ ]:
# 솔루션을 리스트로 작성
# 질문을 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력

In [79]:
solutions = [
    "화장실 다녀오세요",
    "맛있는걸 많이 먹으세요",
    "나가서 런닝 1시간 뛰세요",
    "머릿속에 떠오르는 걸 당장 실행하세요",
    "별 고민 아닙니다. 신경쓰지 마세요",
    "당신은 X됐습니다. 받아들이세요"
]

question = input("당신의 고민은 무엇인가요? : ")

import random
a = random.randint(0, len(solutions) - 1) # pretty good code
final_solution = solutions[a]

print("당신의 고민 : ", question, "\n",
     "그렇군요. 그에 대한 저의 답변은,", "\n",
     '"', final_solution, '"', "\n",
     "입니다. 저의 답변이 도움이 되셨나요?")

당신의 고민은 무엇인가요? : 졸려요
당신의 고민 :  졸려요
 그렇군요. 그에 대한 저의 답변은,
 " 맛있는걸 많이 먹으세요 "
 입니다. 저의 답변이 도움이 되셨나요?

In [1]:
# 문장을 입력받아서 문법에 맞도록 결과를 출력하는 코드를 작성
# 마지막 문자는 .이 있을수도 있고 없을수도 있습니다.
# python IS the best language
# Python is the best language.

In [8]:
sentence = input("input sentence :")

if sentence[-1] == ".":
    result = sentence[0].upper() + sentence[1:].lower()
else:
    result = sentence[0].upper() + sentence[1:].lower() + "."

result

input sentence :python is good

'Python is good.'